header {
  background-color: hsl(10, 60%, 50%);
  color: white;
}

.top-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.primary-navigation > ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

.primary-navigation > ul > li {
  margin: 0 16px;
}

.user-icon {
  background-color: hsla(0, 0%, 50%, 0.5);
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
}
